@model IEnumerable<TestFromProdWebApp.Models.Shipment>

<div class="row">
    <div class="col-md-3">
        @{
            if (ViewBag.RecordCount != null)
            {
                <p> Total Records:@ViewBag.RecordCount</p>
            }

        }
    </div>
    <div class="col-md-3">
        <p> Select Environment to post the payload</p>

    </div>
    <div class="col-md-6">
        <select class="env">
            <option>SIT</option>
            <option>UAT</option>
        </select>
    </div>
    @*<div class="col-md-3">
        <button class="btn btn-primary btnpost">Post</button>
    </div>*@
</div>
<div class="postResponse">

    </div>
<table class="table table-bordered searchResultTable">
    <tr>
        <th>Service Name</th>
        <th>Sender Name</th>
        <th>CorrelationId</th>
        <th>SalesOrder Type</th>
        <th>Scenario Type</th>
        <th>ItemCount</th>
        <th> <button class="btn btn-primary btnpost">Post</button></th>
    </tr>

    @{
        if (Model != null && Model.Count() > 0)
        {
            foreach (var record in Model)
            {
                <tr>
                    <td class="servicename">@record.ServiceName</td>
                    <td>@record.SenderName</td>
                    <td class="correlationId">@record.CorrelationId</td>
                    <td>
                        @{
                            string salesOrderType = string.Empty;
                            foreach (var salesorderType in record.SalesOrderType)
                            {
                                salesOrderType += salesorderType + " ";
                            }
                        }
                        @salesOrderType
                    </td>
                    <td>
                        @{
                            string scenarioType = string.Empty;
                            foreach (var scenario in record.Scenario)
                            {
                                scenarioType += scenario + " ";
                            }
                        }
                        @scenarioType
                    </td>
                    <td>@record.ItemCount</td>
                    <td>
                        <input type="checkbox" class="postToService">
                        @*<button class="btn btn-primary btnpost">Post</button>*@
                    </td>
                </tr>
            }

        }
    }
</table>
